main {
    background: #000;
}
main .login_bg {}
main .login_bg .login {
    max-width: 600px; border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 50px 100px;
}
main .login_bg .login .top {
    text-align: center;
}
main .login_bg .login .top h2 {
    color: #fff; font-size: 1.875rem;
}
main .login_bg .login .top p {
    color: #fff; margin: 16px 0 50px;
}
main .login_bg .login #loginFrm {}
main .login_bg .login #loginFrm fieldset {
    display: flex; flex-flow: column nowrap;
    justify-content: center;
}
main .login_bg .login #loginFrm fieldset .login_non {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: flex; margin-bottom: 20px;
}
main .login_bg .login #loginFrm fieldset .login_non a {
    font-size: 1.25rem; color: #fff;
    width: 50%; display: inline-block;
    padding-bottom: 10px; text-align: center;
}
main .login_bg .login #loginFrm fieldset .login_non a:first-child {
    border-bottom: 2px solid #fff;
}
main .login_bg .login #loginFrm fieldset #userId {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px; margin-bottom: 10px;
    height: 52px; padding: 0 20px; color: #fff;
}
main .login_bg .login #loginFrm fieldset #userPw {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px; margin-bottom: 10px;
    height: 52px; padding: 0 20px; color: #fff;
}
main .login_bg .login #loginFrm fieldset label {
    font-size: 0.625rem; color: #fff;
    margin-bottom: 10px; display: flex;
    align-items: center;
}
main .login_bg .login #loginFrm fieldset label #saveBox {
    width: 17px; height: 17px; margin-right: 10px;
}
main .login_bg .login #loginFrm fieldset #loginBtn {
    background: #f9880a; color: #fff;
    height: 50px; border-radius: 5px;
}
main .login_bg .login #loginFrm fieldset .join_find {
    margin: 20px 0; text-align: center;
}
main .login_bg .login #loginFrm fieldset .join_find a {
    color: #c4c4c4; font-size: 0.813rem;
    position: relative; margin-right: 10px;
    padding-right: 10px;
}
main .login_bg .login #loginFrm fieldset .join_find a:last-child {
    padding: 0; margin: 0;
}
main .login_bg .login #loginFrm fieldset .join_find a:last-child::after {
    background: none;
}
main .login_bg .login #loginFrm fieldset .join_find a::after {
    content: ''; background: #c4c4c4;
    width: 1px; height: 10px; display: inline-block;
    position: absolute; top: 50%; right: 0;
    transform: translateY(-50%);
}
main .login_bg .login .bottom {
    display: flex; justify-content: space-around;
    border-top: 1px solid hsla(0,0%,45.5%,.1);
    padding: 10px 0; align-items: center;
}
main .login_bg .login .bottom h3 {
    font-size: 1.125rem; color: #cbcbcb;
}
main .login_bg .login .bottom .naver_kakao {
    display: flex;
}
main .login_bg .login .bottom .naver_kakao a {
    width: 33px; margin-right: 10px;
}
main .login_bg .login .bottom .naver_kakao a:last-child {
    margin: 0;
}
main .login_bg .login .bottom .naver_kakao a img {
    width: 100%;
}